body {
  margin: 0;
	overflow-x: hidden;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Roboto";
}